
{% extends 'master.html' %}
{% block content %}

{% for date, accounts in delta.items %}
    <h1><a href="{% url 'operation_list_daily' date|date:"Y-m-d" %}">{{date}}</a></h1>
    {% for account, value in accounts.items %}
    <p>{{account}} : {{value}}</p>
    {% endfor %}
    <h2>
        Итого: 
        {% for cost_date, value in cost.items %}
            {% if cost_date == date%}
            {{value}}
            {%endif%}
        {% endfor %}
    </h2>
</br>
{% endfor %}
{% endblock content %}
<!--
<table class="table">
    <thead>
        <tr class="header">
            <th>Дата</th>
            {% for date, accounts in delta.items %}
                {% for account, value in accounts.items %}
                    <th>{{account}}</th>
                {% endfor %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            
        </tr>
    </tbody>
</table>
-->