{% extends 'base.html' %}
{% block title %}Ежедневные расходы{%endblock title %}
{% block content %}
<table class="table">
<thead>
    <tr>
        <th>Дата</th>
        <th>Баланс</th>
        <th>Название счёта</th>
        <th>Служебное значение</th>
    </tr>
</thead>
<tbody>
    {% for object in object_list %}
    <tr>
        <td>{{ object.date }}</td>
        <td>{{ object.value }}</td>
        <td>{{ object.account }}</td>
        <td>{{ object.no_op }}</td>

    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock content %}