{% extends 'base.html' %}
{% block content %}
    
<table>
<thead>
    <tr>
        <th>Дата</th>
        <th>Тип операции</th>
        <th>Назначение</th>
        <th>Сумма</th>
        <th>Категория</th>
        <th>Номер счёта</th>
    </tr>
</thead>
<tbody>
    <a href="{% url 'operation_create'%}">Добавить операцию</a> - Всего операций: {{object_list|length}}
    {% for object in object_list %}
    <tr>
        <td>{{ object.date }}</td>
        {% if object.type == 1%}
        <td>Доход</td>
        {% else %}
        <td>Расход</td>
        {% endif %}
        <td>{{ object.description }}</td>
        <td>{% widthratio object.value 1 object.type %}</td>
        <td>{{ object.category }}</td>
        <td>{{ object.account }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock content %}